<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Téléchargez notre application</h3>
                <p>Téléchargez l'application pour téléphone mobile Android et iOS.
                </p>
                <div class="app-logo">
                    <img src="assets/images/play-store.png">
                    <img src="assets/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="assets/images/logo.png">
                <p>N°1 du #Gaming en Tunisie, PCs Gamers & Stations Pro, accessoires et composants, les prix les moins
                    chers
                </p>
            </div>
            <div class="footer-col-3">
                <h3>
                    Liens utiles</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Article de blog</li>
                    <li>Politique de retour</li>
                    <li>Rejoindre l'affilié</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>
                    INFORMATIONS DE CONTACT</h3>
                <ul >
                    <li><i class="fa-solid fa-location-dot"></i> Iset Mahdia</li>
                    <li><i class="fa-solid fa-phone">(+216)53658231</i></li>
                    <li><i class="fa-solid fa-envelope">ayoubbahroun203@gmail.com</i></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023</p>
    </div>
</div>
