body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 5px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: gray;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  button {
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }

  button:hover {
    background-color: #c82333;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination-controls {
    margin-top: 20px;
  }